@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">To Use This App You Must Follow </h1>
    <p> => Register (Top Right Menu) a new account just Input a EMAIL and 6 Digit Password.</p>
    <p> => Go To Expense Category By Clicking "Expense Category" menu From Top Left</p>
    <p> => Create a new Expense Category</p>
    <p> => Go to Expense By clicking "Expenses" menu From top Left</p>
    <p> => Add Your Expense as much as you want</p>
    <h1 class="display-4">Feature </h1>
    <p> => User should be able to create their different expense categories.</p>
    <p>
        => Each
        expense category must be unique, and system must prevent user to create a duplicate category.
        User should be able to see all expense categories and able to edit or delete any specific category.
    </p>
    <p> => user record their daily expenses. To record an expense user will select
the expense category, date of the expense, and type the expense amount. In expense amount
field user will only be able to type integer or decimal numbers. System will prevent user to record
any expenditure in future date. User should be able to see expenses between two dates and able
to edit or delete a particular expense entry.</p>
    <h1 class="display-4">Thank You </h1>
</div>
